html, body {
    margin: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 
        [left-sidebar-start] 1fr
        [left-sidebar-end main-content-start] 3fr
        [main-content-end right-sidebar-start] 1fr
        [right-sidebar-end];

    grid-template-rows: 
        [body-start] 4fr
        [body-end footer-start] 1fr
        [footer-end];

    height: 100vh;
    grid-gap: 15px;

    > * {
        background-color: blanchedalmond;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer {
        grid-column: main-content-start / right-sidebar-end;
    }

    .left-sidebar {
        grid-row: body-start / footer-end;
    }
}