html, body {
    margin: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    display: grid;
    height: 100vh;

    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 5px;

    > * {
        background-color: greenyellow;
    }
}